<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='index'">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookM3</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">


</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="index.html"
               style="background-image:url(&quot;../../assets/img/logo.png&quot;)"> </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About us</a></li>
                <li><a href="hotels.html">Best Hotels</a></li>
                <li><a href="#">Review's </a></li>
            </ul>
        </div>
    </div>
</nav>
<header style="background-image:url(&quot;../../assets/img/headerW.png&quot;);"></header>


<form id="bookingForm" name="booking_form" th:action="@{/list}" th:object="${form}" method="post">
    <div class="form-horizontal" method="post">
        <h2 class="form_title">HOTEL SEARCH</h2>
        <label class="control-label">DESTINATION</label>
        <div class="form-group">
            <div class="col-sm-8">
                <input class="form-control" type="text" name="destination" id="destination" required=""
                       placeholder="e.g. Los Angeles" style="width:291px;" th:field="*{city}">
                <span class="hidden" id="error_destination">* Ups, Name of destination is needed! </span>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label">CHECK IN</label>
            <input class="form-control" name="checkIn" id="checkIn" type="date" placeholder="dd/mm/yyyy"
                   th:field="*{checkinDate}" required="">
            <span class="hidden" id="error_checkIn">* Ups, date is needed in numerical form! </span>

        </div>
        <div class="col-sm-8">
            <label class="control-label">CHECK OUT</label>
            <input class="form-control" name="checkOut" id="checkOut" type="date" placeholder="dd/mm/yyyy"
                   th:field="*{checkoutDate}" required="">
            <span class="hidden" id="error_checkOut">* Ups, date is needed in numerical form! </span>

        </div>
        <div class="form-group1">

                <label class="control-label">HOTEL STARS</label>
            <input class="form-control" id="stars" type="number" name="stars" placeholder="Hotel Stars"
                   th:field="*{stars}" required="">


                <label class="control-label">NUMBER OF PEOPLE </label>
            <input class="form-control" type="number" name="peopleNumb" id="peopleNumb" placeholder="e.g.(1,2)"
                   th:field="*{numPeople}" required="">
                <span class="hidden" id="peopleNum">* Ups, number of people is needed! </span><br>


        </div>
        <div class="form-group2">
            <div class="column3" style="float:left; margin-left:50px">
                <div class="form-group" style="margin-left:50px">
                    <label class="control-label">OTHER REQUESTS</label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="wifi" value="wifi" th:field="*{wifi}"
                               th:value="true">Wifi
                    </label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="parking" value="parking" th:field="*{parking}"
                               th:value="true">Parking
                    </label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="pool" value="swimming pool" th:field="*{pool}"
                               th:value="true">Swimming
                        pool
                    </label>
                </div>

            </div>
            <div class="column4" style="float:right; margin-top:35px;">
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="spa" value="spa" th:field="*{spa}" th:value="true">Spa
                    </label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="service" value="shuttle service"
                               th:field="*{shuttleService}" th:value="true">Shuttle Service</label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="drycleaning" value="dry cleaning"
                               th:field="*{dryCleaning}" th:value="true">Dry cleaning</label>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <input type="submit" id="search" value="Search"/>
            </div>
        </div>
    </div>
</form>

<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/js/validator.js"></script>

<script type="text/javascript" src="../../assets/js/default.js"></script>
<script type="text/javascript" src="../../assets/js/search.js"></script>
</body>


</html>