<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
       th:with="currentPage='proba'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>UMRI</p>
<div th:each="rooms : ${roomList}" id="hotels">
    <h2 th:text="${hotel.hotelName}" id="LosAngeles"></h2>
    <div>
        <span><h4 th:text="${rooms.roomName}"></h4></span>
        <h3>Amenities: </h3>
        <span>Crib: </span> <span th:text="${rooms.room_amenities_amenities_ID.crib} ? 'Yes' : 'No'"></span><br/>
        <span>Hairdryer: </span> <span
            th:text="${rooms.room_amenities_amenities_ID.hairdryer} ? 'Yes' : 'No'"></span><br/>
        <span>Kettle: </span> <span th:text="${rooms.room_amenities_amenities_ID.kettle} ? 'Yes' : 'No'"></span><br/>
        <span>Washing Machine: </span> <span
            th:text="${rooms.room_amenities_amenities_ID.washingMachine} ? 'Yes' : 'No'"></span><br/>
        <span>Microwave: </span> <span
            th:text="${rooms.room_amenities_amenities_ID.microwave} ? 'Yes' : 'No'"></span><br/>
        <span>Refrigerator: </span> <span
            th:text="${rooms.room_amenities_amenities_ID.refrigerator} ? 'Yes' : 'No'"></span><br/>
        <span>Television: </span> <span th:text="${rooms.room_amenities_amenities_ID.tv} ? 'Yes' : 'No'"></span><br/>
        <span>Cable TV: </span> <span th:text="${rooms.room_amenities_amenities_ID.cable} ? 'Yes' : 'No'"></span><br/>

        <span>Price: </span> <span th:text="${rooms.price}"></span>
    </div>
</div>


</body>
</html>