<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='roomOrder'">

<head xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookM3</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="../thymeleaf/index.html"
               style="background-image:url(&quot;../../assets/img/logo.png&quot;)"> </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About us</a></li>
                <li><a href="hotels.html">Best Hotels</a></li>
                <li><a href="#">Review's </a></li>
            </ul>
        </div>
    </div>
</nav>

<div th:each="room : ${roomDetails}"
     style="width:1000px; height: 500px; background:white;border-radius: 25px;padding-left: 45px;padding-right: 45px;padding-bottom: 100px; margin:auto;text-align: justify;">
    <h2 th:text="${room.hotelId.hotelName}"></h2>
    <h3 th:text="${room.roomName}"></h3>
    <!-- <img th:src="@{/images(id=${iter.index},city=${city},stars=${hotels.stars})}" alt="img" class="image"/>
     -->
    <div>
        <img src='../../assets/img/bHotel/room200x100.jpg' class="image">

        <div class="row">
            <h3>Amenities: </h3>
            <div class="column">
                <span>Crib: </span> <span th:text="${room.room_amenities_amenities_ID.crib} ? 'Yes' : 'No'"></span><br/>
                <span>Hairdryer: </span> <span
                    th:text="${room.room_amenities_amenities_ID.hairdryer} ? 'Yes' : 'No'"></span><br/>
                <span>Kettle: </span> <span
                    th:text="${room.room_amenities_amenities_ID.kettle} ? 'Yes' : 'No'"></span><br/>
                <span>Washing Machine: </span> <span
                    th:text="${room.room_amenities_amenities_ID.washingMachine} ? 'Yes' : 'No'"></span><br/>
            </div>

            <div class="column">
                <span>Microwave: </span> <span
                    th:text="${room.room_amenities_amenities_ID.microwave} ? 'Yes' : 'No'"></span><br/>
                <span>Refrigerator: </span> <span
                    th:text="${room.room_amenities_amenities_ID.refrigerator} ? 'Yes' : 'No'"></span><br/>
                <span>Television: </span> <span
                    th:text="${room.room_amenities_amenities_ID.tv} ? 'Yes' : 'No'"></span><br/>
                <span>Cable TV: </span> <span th:text="${room.room_amenities_amenities_ID.cable} ? 'Yes' : 'No'"></span><br/>
            </div>


            <div class="price">
                <h3>Price:
                    <span th:text="${room.price}+ ' USD'"/></h3>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                    <!-- Identify your business so that you can collect the payments. -->
                    <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">

                    <!-- Specify a Buy Now button. -->
                    <input type="hidden" name="cmd" value="_xclick">

                    <!-- Specify details about the item that buyers will purchase. -->
                    <input type="hidden" name="item_name" value="RoomName">
                    <input type="hidden" name="amount" value="1">
                    <input type="hidden" name="currency_code" value="USD">

                    <!-- Display the payment button. -->
                    <input type="image" name="submit" border="0"
                           src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"
                           alt="Buy Now">
                    <img alt="" border="0" width="1" height="1"
                         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

                </form>
                <a th:href="@{/userForm(roomId=${room.roomId},checkIn=${checkIn}, checkOut=${checkOut})}"
                   class="button"><span>Reserve the room </span></a>
            </div>
    </div>
    </div>
</div>

    <script type="text/javascript" src="../../assets/js/default.js"></script>
    <script type="text/javascript" src="../../assets/js/imgChanges.js"></script>

</body>
</html>