<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='rooms'">

<head xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookM3</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="../thymeleaf/index.html"
               style="background-image:url(&quot;../../assets/img/logo.png&quot;)"> </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About us</a></li>
                <li><a href="hotels.html">Best Hotels</a></li>
                <li><a href="#">Review's </a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="hotels">
    <h2 id="LosAngeles" th:text="${hotel.HotelName}"></h2>
    <h2>Available rooms in period</h2>
    <h3> From <span th:text="${checkIn}"></span>
        to <span th:text="${checkOut}"></span></h3>
    <div th:each="rooms : ${roomList}">
        <br/>
        <!-- <img th:src="@{/images(id=${iter.index},city=${city},stars=${hotels.stars})}" alt="img" class="image"/>-->
        <img src='../../assets/img/bHotel/room200x100.jpg' class="image">
        <div class="text">
            <span><h4 th:text="${rooms.roomName}">Rooms</h4></span>
            <span><h5>Price: </span> <span th:text="${rooms.price}"></span>
            <span><h5>For </span><span th:text="${rooms.persons}"></span><span> people</span></h5>


            <span><p th:text="${hotel.hotelDescription}" class="text">Description...</span><br/>

            <a th:href="@{/list/room(id=${rooms.roomId},checkIn=${checkIn}, checkOut=${checkOut})}" class="button"
               name="room1"><span>Details </span></a>
        </div>
    </div>
</div>
<br/><br/><br/>

<br/><br/>
</div>


</div>
</div>
</div>
<script type="text/javascript" src="../../assets/js/default.js"></script>
<script type="text/javascript" src="../../assets/js/gallery.js"></script>
<script type="text/javascript" src="../../../assets/js/gallery.min.js"></script>
<script type="text/javascript" src="../../assets/js/imgChanges.js"></script>
</body>
</html>