.navbar.navbar-default {
    border-bottom-color: #fee00c;
    border-bottom-width: 10px;
}

a .navbar-brand .navbar-link{
    background-image: url(assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 133px;
    background-position: center;
    padding: 15px;
    margin: -4px;
}

#bookingForm{background-color:rgba(7,84,103,0.28);
    width: 60%;
    hight: auto;
    position: absolute;
    left: 250px;
    right: auto;
    top: 100px;
    border-radius: 20px;
    padding: 0px 30px 30px 30px;
}

#userForm{
    background-color: rgba(7, 84, 103, 0.28);
    width: 40%;
    hight: auto;
    position: absolute;
    border-radius: 20px;
    hight: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 30px 30px;
    left: 30%;
    right: auto;
}

header{background-size:cover;
    background-repeat: no-repeat;
    height: 550px;
    margin: 0px;
    padding: 0px;
    background-position: center;
    margin-top: -22px;
}

.form_title{
    color: #fff;
    text-align: center;
}

.control-label{color:#fff;
    font-size: 18px;
}

.form-control{width:150px;height:40px;}
.form-input{width:250px;height:38px;padding-left:10px;}
.form-group{height:25px;}


.check_in{float:left;}
.check_out{float:clear;}

.form-group1{float:left; width:300px;margin-top:30px;}
.float-group2{float:right;width:200px;}

.button-sub{margin:auto;
    text-align: center;
}

body{background:rgba(197,244,255,0.45)}

#content{margin-left:100px;
    margin-right:100px;
    background:white;
    height:500px;
    border-radius: 25px;
    padding-left:45px;
}

.title{padding-top:20px;}

img{padding-left:20px;
    padding-top: 20px
}

#image{float:left;}
#info{float:clear;
    margin-right: 300px
}



#hotels{
    width:1000px;
    height: 1350px;
    background:white;
    border-radius: 25px;
    padding: 25px 45px;
    margin:auto;
}

.image{
    width:300px;
    height:200px;
    padding-right: 20px;
    float: left;
}

.hotelImage {
    width: 400px;
    height: 300px;
    padding-right: 20px;
    float: left;
}

.text{
    width: 800px;
    height: 200px;
    float: clear;
}

h2{padding-top:20px;}

a{text-decoration:none;}



.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/* rooom */
.button {
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: #6699ff;
    color: white;
    text-align: center;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: left;
    vertical-align: middle:
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
    color: white;
}

.button:hover span {
    padding-right: 15px;
    color: white;
}

.button:hover span:after {
    opacity: 1;
    color: white;
}

.col-sm-8{padding-left:30px;}

.room_title {
    margin-top: -30px;
}

.checkTime {
    color: #6699ff;
}